#light #work {
  background: $white2;
  color: $grey2;
}
#dark #work {
  background: $black3;
  color: $white2;
}

#work {
  h2 {
    text-align: center;
    margin: 0 auto;
    padding: 120px 0 60px;
  }
}

.work-container{
  opacity: 0;
}