#light #intro {
    background: linear-gradient(to right, rgba($grey2, 0.2), rgba($grey1, 0.5)),
    url(../../../assets/bg-white.png);
    h1, h2{
       color: $black3;
    }
}
#dark #intro {
      background: linear-gradient(to right, rgba($grey1, 0.2), rgba($grey2, 0.5)),
    url(../../../assets/bg-black.png);
    h1, h2{
       color: $white2;
    }
}

#intro {
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .intro_wrapper {
    max-width: 75%;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    font-family: $font700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 1.3rem;
    font-family: $font300;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
  }

  //media queries
  @media screen and (max-width: 895px) {
    h1 {
      font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 652px) {
    .intro_wrapper {
      max-width: 85%;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 500px) {
    .intro_wrapper {
      max-width: 95%;
    }
    h2 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 400px) {
    h2 {
      font-size: 0.8rem;
    }
  }
}
