#light header {
  background-color: $white2;
  box-shadow: -12px 2px 20px 0px $grey2;
  a {
    color: $grey2;
  }
}
#dark header {
  background-color: $black2;
  box-shadow: -12px 2px 20px 0px $grey2;
  color: $white2;
  a {
    color: $white2;
  }
}
header {
  width: 100%;
  position: fixed;
  z-index: 10;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    gap: 15px;
    padding: 20px 10px;
    z-index: 10;
  }
  img {
    height: 25px;
    width: 27px;
  }

  .select-container {
    position: absolute;
    left: 200px;
  }

  button {
    height: 40px;
  }

  nav {
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 10px;
      li {
        padding: 15px;
      }
    }
  }
}

//media queries
// @media screen and (max-width: 870px) {
//   header {
//     select {
//       position: absolute;
//       left: 200px;
//     }
//   }
// }
